
table, th, td {
	border: #333 solid;
	border-collapse: collapse;
	
}

tbody th{
	background-color: #E6F3FF;
	font-family: arial;

}
 tr {
	height: 4em;
	vertical-align: bottom;
}

.cabecera{
	background-image:url(imagenes/fondo_gris.gif);
	background-repeat:repeat;
	
}

tbody tr:hover{
background-color: #FFFF66;
}

.par{
background-color: #FFFFCC;
}

.euro{
	background-image: url(imagenes/euro.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-origin: border-box;
}

.dolar {
	background-image: url(imagenes/dolar.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-origin: border-box;
}

.libra {
	background-image: url(imagenes/libra.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-origin: border-box;
}

.yen {
	background-image: url(imagenes/yen.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-origin: border-box;
}



