p:first-of-type {
	font-style: oblique;
	font-weight: bold;
	text-indent: 50px;
}

#consejo {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: green;
	font-weight: bold;
	text-align: justify;
}

#textolinea{
	background-color: pink;
	font-style: normal;
	text-decoration: underline;
	font-variant: petite-caps;
	font-size: large;
	text-transform:capitalize;
	

}

h3{
background-color: brown;
color: yellow;

}

.clase {
	color: purple;
	font-style: oblique;
	font-size: 20px;
	font-weight: bold;
}

#idparaestilo {
	background-color: purple;
	color: white;
	font-size: large;
	text-align: justify;
	font-family: monospace;
	letter-spacing: 5px;
	word-spacing: 0.7em;
}